body {
    background-color: #B8C5D9;
    background-attachment: fixed;
  }
  
  
  
  
  div.scroll {
    font-family: "Bodoni Moda", serif;
    text-align: left;
    position: absolute;
    font-size: 20px;
    padding: 20px;
    width: 40%;
    height: 70%;
    top: 165px;
    overflow-x: hidden;
    overflow-y: visible;
    text-align: left;
    right: 120px;
    -ms-overflow-style: none;
    color:#FDF6F2;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
  
  
  
  .title {
    font-family: "Bodoni Moda", serif;
    position: absolute;
    font-size: 50px;
    left: 170px;
    top: 80px;
    color:#FDF6F2;
  }
  
  .gallery-section {
    position: relative;
    width: 40%;
    height: 40%;
    top: 118px;
    left: 220px;
  }
  
  .gallery-section img {
    width: 40%;
    position: absolute;
    z-index: 10;
    transition: all 0.5s;
    box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  
  .img8{
    left: 0rem;
    top:0.5rem;
  }
  
  .img7{
    left: 1rem;
    top:1rem;
  }
  
  .img6{
    left: 2rem;
    top:2rem;
  }
  
  .img5{
    left: 3rem;
    top: 3rem;
  }
  
  .img4 {
    left: 4rem;
    top: 4rem;
  }
  
  .img3 {
    left: 5rem;
    top: 5rem;
  }
  
  .img2 {
    left: 6rem;
    top: 6rem;
  }
  
  .img1 {
    left: 7rem;
    top: 7rem;
  }
  
  .gallery-section img:hover {
    z-index: 20;
    transform: scale(1.2) rotate(-10);
  }
  
  .gallery-section:hover img:not(:hover) {
    transform: scale(0.9);
    opacity: 0;
  }
  
  .button-home {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 17px 10px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    left: 4px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    top: 2px;
    font-family: "Bodoni Moda", serif;
  }
  
  .button-home:after {
    content: "";
    background-color: #FDF6F2;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-home:hover:after {
    top: 0px;
    left: 0px;
  }
  
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .button-2013 {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 1420px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 17px 10px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    top:-35px;
    font-family: "Bodoni Moda", serif;
  }
  
  .button-2013:after {
    content: "";
    background-color: #FDF6F2;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
     
  }
  
  .button-2013:hover:after {
    top: 0px;
    left: 0px;
  }
  
  
  
  
  .img__wrap {
    position: relative;
    
  }
  
  .img__description_layer {
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
     position: absolute;
    
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    position:relative;
    left:-40px;
    transition: .2s;
    transform: translateY(1em);
    top:-80px;
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    text-align:center;
    color:#435898;
    
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }
  